.popup__card-image {
  max-width: 75vw;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}